.bg-custom {
	background-color: #881536;
}

.pt-serif-regular {
	font-family: "PT Serif", serif;
	font-weight: 400;
	font-style: normal;
}

.pt-serif-bold {
	font-family: "PT Serif", serif;
	font-weight: 700;
	font-style: normal;
}

.pt-serif-regular-italic {
	font-family: "PT Serif", serif;
	font-weight: 400;
	font-style: italic;
}

.pt-serif-bold-italic {
	font-family: "PT Serif", serif;
	font-weight: 700;
	font-style: italic;
}

.dosis-700 {
	font-family: "Dosis", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

.bg-cont-image {
  background-image: url('../assets/img/img_decoracion_pagina/fondo_andaluz.jpg'); /* ajusta la ruta */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
